@using TrueMuromez.ViewModels
@model TrainingViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container-xl">
            <a class="navbar-brand" href="#">
                <img src="image/logo.png" alt="dots icon">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Производство</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">ТРЕНИРОВКИ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Медиа</a>
                    </li>
                </ul>
                <div d-flex justify-content-end>
                    <li class="nav-item">
                        <div class="phone-viev">
                            <img src="image/phone.svg" alt="dots icon">
                            <a class="nav-link" href="#">Бесплатная тренировка</a>
                        </div>
                    </li>
                </div>
            </div>
    </nav>

    <div class="container-xl">
        <div class="row justify-content-end">
            <div class="col-lg-5">
                <div class="redsquare">
                </div>
            </div>
        </div>
        <div class="row first-screen-title">
            <div class="col-lg-12">
                <h1 class="offer-cont__title">
                    ТРЕНИРОВКИ
                </h1>
            </div>
        </div>
        <div class="row first-screen-cont">
            <div class="col-lg-5 offer-cont__desc">
                <div class="offer-cont__desc-up">
                    <h2 class="offer-cont__subtitle">
                        СПОРТЗАЛ
                    </h2>
                    <p class="offer-cont__text">
                        Удобное расположение в центре города БАЛАШОВ
                        и тренировки для детей и взрослых с индивидуальным
                        подходом для реализации поставленных целей и задач.
                    </p>
                    <div class="offer-cont__desc-down">
                        <h2 class="offer-cont__subtitle">
                            ОНЛАИН
                        </h2>
                        <p class="offer-cont__text">
                            Персональные занятия с тренером на любой,
                            удобной для вас площадке: DISCORD, SKYPE, WHATSAPP и т.п
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-8">
                        <img class="fit" src="image/img1.png" alt="img5">
                    </div>
                    <div class="col-4 offer-cont__subphoto-right">
                        <img class="fit" src="image/img2.png" alt="img6">
                        <img class="fit" src="image/img3.png" alt="img6">
                    </div>
                </div>
            </div>
        </div>
        <div class="row first-screen-button" style="padding-bottom:350px">
            <div class="col-lg-5">
                <div class="offer-cont__button">
                    <div class="rectangle">
                        Посмотреть программу
                    </div>
                    <div class="square">
                        <img src="image/arrow-down.svg" alt="dots icon">
                    </div>
                </div>
            </div>
        </div>
        






        @{int forMirror = 1;}
        @foreach (var cat in Model.TrainingCategories)
        {
            

            string forID = "ctotForIdChyobRabotaloBlin"+cat.ID.ToString();
            string forTarget = '#' + forID;

            <h1>@cat.Name</h1>

            <div id="@forID" class="carousel slide" data-bs-ride="carousel" style="border:40px #DD3333 solid; background-color:#DD3333;">

                @{
                    int trainCout = Model.Trainings.Where(x => x.TrainingCategoryID == cat.ID).Count();
                }
              <div class="carousel-indicators">
                    

                    <button type="button" data-bs-target="@forTarget" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    @for(int i = 1; i < trainCout; i++)
                    {
                        int forAriaLabel = i + 1;
                        <button type="button" data-bs-target="@forTarget" data-bs-slide-to="@i" aria-label="Slide @forAriaLabel"></button>
                    }
              </div>
              <div class="carousel-inner">
                  @{bool isFirst = true;}
                  @foreach(var train in Model.Trainings.Where(x => x.TrainingCategoryID == cat.ID))
                    {
                        if (forMirror % 2 == 0)
                        {
                            if (isFirst)
                            {
                                <div class="carousel-item active">
                                    <div class="row down-cont">
                                        <div class="col-lg-5 offer-workout__photo">
                                            <div class="row">
                                                <div class="col-6">
                                                    <img class="fit" src="image/img4.png" alt="img">
                                                </div>
                                                <div class="col-6 offer-cont__subphoto-right">
                                                    <img class="fit" src="image/img5.png" alt="img">
                                                    <img class="fit" src="image/img6.png" alt="img">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 offer-workout__desc">
                                            <div class="offer-workout__desc-up">
                                                <h2 class="offer-workout__subtitle">
                                                    @train.Name
                                                </h2>
                                                <p class="offer-workout__text">
                                                    @train.Description
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                isFirst = false;
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <div class="row down-cont">
                                        <div class="col-lg-5 offer-workout__photo">
                                            <div class="row">
                                                <div class="col-6">
                                                    <img class="fit" src="image/img4.png" alt="img">
                                                </div>
                                                <div class="col-6 offer-cont__subphoto-right">
                                                    <img class="fit" src="image/img5.png" alt="img">
                                                    <img class="fit" src="image/img6.png" alt="img">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 offer-workout__desc">
                                            <div class="offer-workout__desc-up">
                                                <h2 class="offer-workout__subtitle">
                                                    @train.Name
                                                </h2>
                                                <p class="offer-workout__text">
                                                    @train.Description
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            if (isFirst)
                            {
                                <div class="carousel-item active">
                                    <div class="row down-cont">
                                        
                                        <div class="col-lg-6 offer-workout__desc">
                                            <div class="offer-workout__desc-up">
                                                <h2 class="offer-workout__subtitle">
                                                    @train.Name
                                                </h2>
                                                <p class="offer-workout__text">
                                                    @train.Description
                                                </p>
                                            </div>

                                        </div>
                                        <div class="col-lg-5 offer-workout__photo">
                                            <div class="row">
                                                <div class="col-6">
                                                    <img class="fit" src="image/img4.png" alt="img">
                                                </div>
                                                <div class="col-6 offer-cont__subphoto-right">
                                                    <img class="fit" src="image/img5.png" alt="img">
                                                    <img class="fit" src="image/img6.png" alt="img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                isFirst = false;
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <div class="row down-cont">
                                        
                                        <div class="col-lg-6 offer-workout__desc">
                                            <div class="offer-workout__desc-up">
                                                <h2 class="offer-workout__subtitle">
                                                    @train.Name
                                                </h2>
                                                <p class="offer-workout__text">
                                                    @train.Description
                                                </p>
                                            </div>

                                        </div>
                                        <div class="col-lg-5 offer-workout__photo">
                                            <div class="row">
                                                <div class="col-6">
                                                    <img class="fit" src="image/img4.png" alt="img">
                                                </div>
                                                <div class="col-6 offer-cont__subphoto-right">
                                                    <img class="fit" src="image/img5.png" alt="img">
                                                    <img class="fit" src="image/img6.png" alt="img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
             
              </div>
                <button class="carousel-control-prev" type="button" data-bs-target="@forTarget" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
              </button>
                <button class="carousel-control-next" type="button" data-bs-target="@forTarget" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
              </button>
            </div>
            forMirror++;
            <div style="padding-bottom:300px;"></div>
        }
        
        













        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>